* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

/* Skip to content */
.skip-to__content {
    position: absolute;
    top: -40px;
    left: 0;
    background-color: red;
    border: none;
    border-radius: 0 1em 1em 0;
    outline: none;
    color: white;
    padding: 8px;
    z-index: 100;
    text-decoration: none;
}

.skip-to__content:focus {
    top: 0;
}

/* Main */
main {
    width: 100%;
    margin: 0 auto;
}

/* Content */
#main-content {
    padding: 5% 2%;
    min-height: 93vh;
    background-color: rgb(252, 252, 252);
}

/* Explore */
.explore {
    width: 100%;
    margin: 1em auto;
    text-align: center;
}

.explore__label {
    font-size: 1.5em;
    font-weight: lighter;
    margin-bottom: 1em;
}

.explore__label::after {
    content: '';
    margin-top: 16px;
    display: block;
    border-bottom: 1px solid #eeeeee;
}

h1.favorites {
    margin-top: 3em;
}

/* Lazy Load Images */
img.lozad {
    opacity: 0;
    transition: opacity ease-out 200ms;
}

img.loaded {
    opacity: unset;
}

/* Resto Cards */
.resto__cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em;
    padding: 1em;
    text-align: left;
    overflow: auto;
}

/* Footer */
footer {
    background-color: #2c3e50;
    padding: 1em;
    width: 100%;
    text-align: center;
}

footer p {
    color: white;
}