/* Header */

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: white;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.header__inner {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
}

.header__title {
    font-family: 'Kaushan Script', cursive;
    flex: 1;
    text-align: center;
    margin-right: 2em;
    color: green;
}

#hamburger {
    min-height: 44px;
    min-width: 44px;
    font-size: 2em;
    text-decoration: none;
    color: black;
    display: flex;
}

#hamburger i {
    font-size: 44px;
    margin: auto;
    transition: transform 300ms;
    color: grey;
}

/* Navigation */

.nav {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.nav__list {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.nav__item {
    padding: 24px;
    min-width: 44px;
    list-style: none;
}

.nav a {
    text-decoration: none;
    color: #777676;
    font-size: 1.5em;
    min-width: 44px;
    min-height: 44px;
    display: block;
    font-weight: 600;
}

.nav a:hover {
    text-decoration: underline;
    color: rgb(235, 160, 21);
}

.active-nav {
    color: orange !important;
}

nav#drawer {
    visibility: hidden;
    width: 100%;
    position: absolute;
    transform: translate(-100%, 0);
    transition: transform 0.3s ease-in-out , visibility 0.3s ease-in-out;
    background-color: rgb(247, 246, 246);
}

nav#drawer.open {
    visibility: visible;
    transform: translate(0, 0);
} 